@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-section text-center text-white d-flex align-items-center justify-content-center">
    <div>
        <h1 class="display-3 fw-bold">Welcome to ActionFit</h1>
        <p class="lead">Premium calisthenics gear and accessories for unstoppable athletes.</p>
        <a href="/Product" class="btn btn-primary btn-lg mt-3">Shop Now</a>
    </div>
</div>

<div class="container mt-5">
    <h2 class="text-center mb-4">Popular Categories</h2>
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow">
                <img src="https://static1.squarespace.com/static/5e3ca2f99bfdc338a02cefb9/647b5ab3d0003e6d259f1c89/647b6e9497b1a97fca955909/1685810986382/resistance+bands.jpg?format=1500w" class="card-img-top" alt="Resistance Bands">
                <div class="card-body">
                    <h5 class="card-title">Resistance Bands</h5>
                    <p class="card-text">Boost your training anywhere, anytime.</p>
                    <a href="/Product/Category/7722f1a4-07c5-4385-a868-4592c2235928" class="btn btn-outline-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow">
                <img src="https://thegravgear.com/cdn/shop/files/2023-08-06_grav-parallettes-bundle-min_c133b321-0ccf-4652-94b7-b30c64e28afe.jpg?v=1708677912&width=640" class="card-img-top" alt="Parallettes">
                <div class="card-body">
                    <h5 class="card-title">Parallettes</h5>
                    <p class="card-text">Train handstands, pushups, and more with control.</p>
                    <a href="/Product/Category/e8e47bf6-78e7-4fee-b9d5-d21cb551e0c8" class="btn btn-outline-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow">
                <img src="https://i.ebayimg.com/images/g/LuYAAOSwPL5j8yyR/s-l1200.jpg" class="card-img-top" alt="Grip Gloves">
                <div class="card-body">
                    <h5 class="card-title">Bars</h5>
                    <p class="card-text">Mount your pull-up bar at home and stop making excuses.</p>
                    <a href="/Product/Category/5a5e8602-4521-4a8a-b0c6-9b1180a6bafc" class="btn btn-outline-primary">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
